@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Cafe24Supermagic-Bold-v1.0";
}

nav {
  /* 레이아웃에 대한 스타일(5~10줄) */
  background-color: #00000050;
}

.navItem {
  /* 텍스트 스타일(3~8줄) */
  color: blue;
  font-size: 16px;
  font-weight: 300; /* 500: medium, 700: bold*/

  line-height: 1.5; /**150%;*/
  letter-spacing: -0.2px;
}

div {
  white-space: pre;
  text-transform: lowercase;
}
